<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="nav-top">
    <ul id="nav-top-ul">
        <li class="li-1"> <a href=""><span><img  class="img-home" ></span> 首页</a></li>
        <li class="li-2"><a href="">发现</a></li>
        <li class="li-3"><a href="">话题</a></li>
        <li class="li-4"><a href="">Web开发</a></li>
        <li class="li-5"><a href="">软件下载</a></li>
        <li class="li-6"><a href="">注册</a></li>
        <li class="li-7"><a href="">登录</a></li>
    </ul>

</div>

</body>
</html>